/* 실습1 */
.homework {
  width: 1200px;
}

.homework .title {
  text-align: center;
}

/* 실습2 */
li {
  list-style: none;
  cursor: pointer;
}

.slide {
  width: 1920px;
  margin: 0 auto;
}

.carousel-inner > .carousel-item > img {
  height: 520px;
}