/* 아래에 CSS를 작성해주세요. */
/* * {
  border: 1px solid black;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .page_title {
  text-align: center;
}

.font_size_12px {
  font-size: 12px;
}

section {
  width: 900px;
  margin: 50px auto;
}

.card {
  width: 296px;
  display: inline-block;
}

/* section .card:nth-child(2) {
  margin: 0 5px;
} */

.card .product_img {
  border-radius: 5%;
  width: 100%;
  height: 300px;
}

.card .product1 {
  background: url('../실습1/images/1.webp') no-repeat center center;
  background-size: cover;
}

.card .product2 {
  background: url('../실습1/images/2.webp') no-repeat center center;
  background-size: cover;
}

.card .info, 
.card .title, 
.card .desc {
  font-size: 4px;
  color: gray;
  margin-top: 15px;
  padding: 0 10px;
}

.card .title {
  letter-spacing: -1.5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-top: 7px;
}

.card .desc {
  letter-spacing: -1px;
  line-height: 15px;
}

.card .product3 {
  background: url('./images/product.webp') no-repeat center center;
  background-size: cover;
}

.card .desc2,
.card .desc3 {
  padding: 0 10px;
  font-weight: bold;
}

.card .desc2 {
  font-size: 18px;
}

.card .desc3 {
  font-size: 15px;
}

.product3 .info {
  margin-top: 14px;
}

.gray {
  color: gray;
}

.skyblue {
  color: skyblue;
}

